:root {
  --color-primary: #2c91cf;
  --color-primary-dark: #0f83cb;
  --color-white: #fff;
  --color-black-transparent: rgba(0, 0, 0, 0.5);
  --max-width-container: 780px;
  --page-padding: 0 20px;
}

html,
body {
  /* height: 100%; */
  /* min-height: 100vh; */
  color: #fff;
  background-color: #0d1b3f;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.page-bg-underlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 900px;
  width: 100%;
  background-image: url('../images//bg-top.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.page-bg-fade {
  background: linear-gradient(180deg, rgba(11, 30, 65, 0) 0%, #0d1b3f 31.57%);
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: var(--color-black-transparent);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: var(--max-width-container);
  width: 100%;
  padding: var(--page-padding);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-container);
  width: 100%;
  padding: var(--page-padding);
  box-sizing: border-box;
}

/* Logo */
.logo-normal {
  height: 50px;
  width: auto;
}

/* Nav */

.page-nav > ul {
  list-style: none;
}

.page-nav > ul > li {
  display: inline-block;
  margin-right: 20px;
}

.page-nav > ul > li:last-of-type {
  margin-right: 0px;
}

.page-nav > ul > li > a {
  text-decoration: none;
  color: var(--color-white);
}
.page-nav > ul > li > a:hover {
  text-decoration: underline;
}

/* Separator */

.separator {
  text-align: center;
  margin: 20px 0;
}

/* Buttons */
.button {
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  padding: 15px 30px;
  min-width: 180px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.color-bg-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.color-bg-primary:hover {
  background-color: var(--color-primary-dark);
}

/* Card list: type 1 */
.card-list-type-1 {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card-list-type-1-item {
  display: flex;
}

.card-list-type-1-item > div {
  width: 50%;
  padding: 0 10px;
}
.card-list-type-1-item > div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list-type-1-item-reverse {
  flex-direction: row-reverse;
}

.corner-piece {
  position: relative;
  height: 800px;
}

.corner-piece > img {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 660px) {
  .hero-wrapper h1,
  h2 {
    text-align: center;
  }
  .card-list-type-1-item {
    flex-direction: column;
  }
  .card-list-type-1-item > div {
    width: 100%;
    margin-bottom: 40px;
  }
}
